<mat-tab-group mat-align-tabs="start" class="tab-group">
    <mat-tab label="PRODUTOS">
        <div fxLayout="row" fxLayoutAlign="start center" class="first-row">
            <div style="margin: 0.5%;">
                <mat-card class="example-card"
                fxFlex="0 1 calc(33.3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px)"
                fxFlex.lt-sm="100%">
                    <mat-card-header>
                      
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in convallis dolor, non condimentum est. 
                        Donec eu molestie sem, at tincidunt ligula. Aliquam lorem justo, dapibus rhoncus nisl vitae, posuere convallis nisl. 
                        In augue nibh, rhoncus sit amet nulla ac, mollis laoreet massa. Vestibulum eu ligula feugiat, gravida magna eleifend, 
                        elementum lorem. Nam scelerisque, velit vel dictum mattis, neque justo scelerisque nibh, a consectetur nunc magna cursus 
                        massa. Pellentesque efficitur mi ex, et mollis mauris imperdiet quis. Quisque eget libero sed sem euismod egestas. Donec
                        eu molestie nisi. Morbi porttitor dui eros, eu pellentesque velit porttitor sit amet. In tristique placerat lectus, ac 
                        iaculis magna mollis eget.
                      </p>
                    </mat-card-content>
                  </mat-card>                  
            </div>
        </div>
    </mat-tab>
    <mat-tab label="ÁLBUNS">
        <div fxLayout="row" fxLayoutAlign="start center" class="first-row">
            <div style="margin: 0.5%;">
                <mat-card class="example-card"
                fxFlex="0 1 calc(33.3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px)"
                fxFlex.lt-sm="100%">
                <mat-card-header>   
                </mat-card-header>
                    <mat-card-content>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in convallis dolor, non condimentum est. 
                        Donec eu molestie sem, at tincidunt ligula. Aliquam lorem justo, dapibus rhoncus nisl vitae, posuere convallis nisl. 
                        In augue nibh, rhoncus sit amet nulla ac, mollis laoreet massa. Vestibulum eu ligula feugiat, gravida magna eleifend, 
                        elementum lorem. Nam scelerisque, velit vel dictum mattis, neque justo scelerisque nibh, a consectetur nunc magna cursus 
                        massa. Pellentesque efficitur mi ex, et mollis mauris imperdiet quis. Quisque eget libero sed sem euismod egestas. Donec
                        eu molestie nisi. Morbi porttitor dui eros, eu pellentesque velit porttitor sit amet. In tristique placerat lectus, ac 
                        iaculis magna mollis eget.
                      </p>
                    </mat-card-content>
                </mat-card>                  
            </div>
        </div>
    </mat-tab>
    <mat-tab label="TO DOS">
        <div fxLayout="row" fxLayoutAlign="start center" class="first-row">
            <div style="margin: 0.5%;">
                <mat-card class="example-card"
                fxFlex="0 1 calc(33.3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px)"
                fxFlex.lt-sm="100%">
                <mat-card-header>   
                </mat-card-header>
                    <mat-card-content>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in convallis dolor, non condimentum est. 
                        Donec eu molestie sem, at tincidunt ligula. Aliquam lorem justo, dapibus rhoncus nisl vitae, posuere convallis nisl. 
                        In augue nibh, rhoncus sit amet nulla ac, mollis laoreet massa. Vestibulum eu ligula feugiat, gravida magna eleifend, 
                        elementum lorem. Nam scelerisque, velit vel dictum mattis, neque justo scelerisque nibh, a consectetur nunc magna cursus 
                        massa. Pellentesque efficitur mi ex, et mollis mauris imperdiet quis. Quisque eget libero sed sem euismod egestas. Donec
                        eu molestie nisi. Morbi porttitor dui eros, eu pellentesque velit porttitor sit amet. In tristique placerat lectus, ac 
                        iaculis magna mollis eget.
                      </p>
                    </mat-card-content>
                </mat-card>                  
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

